# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
media/
staticfiles/

# VS Code / IDEs
.vscode/
.idea/

# Environment variables
.env

# Coverage / testing
htmlcov/
.coverage
*.cover

# OS files
.DS_Store
Thumbs.db
